@import url('https://fonts.googleapis.com/css?family=Lato');

.TodoApp {
    background-color: #F5F5F5;
    background-color: lightgreen;
    color: #222;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif; 
}