@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    margin: 0;
    font-family: 'Lato', sans-serif; 
}
.TodoApp {
    background: rgb(241,247,128);
    background: linear-gradient(117deg, rgba(241,247,128,1) 0%, rgba(238,152,238,1) 100%);
    font-size: 20px;
    text-align: center;
    color: rgb(104, 101, 101);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}