@import url('https://fonts.googleapis.com/css?family=Lato');
.Title {
    background-color: rgb(204, 241, 187);
    font-family: 'Lato';
    color: rgb(10, 187, 231);
    padding: 20px;
    border: solid 1px #fff;
    border-radius: 20px;
    margin-bottom: 30px;
    width: 300px;
    text-align: center;
}