@import url('https://fonts.googleapis.com/css?family=Lato');
.sTodoForm input {
	padding: 5px;
	border: none;
	margin: 10px;
}
.TodoForm button {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: 'Lato';
	font-weight: bold;
	padding: 5px 10px;
	cursor: pointer;
	background-color: #99bdf7;
	border: none;
	margin: 10px;
	color: #fff;
}
.TodoForm button:active {
	background-color: #6594e0;
}